* {
  font-family: "Courier New", Courier, monospace;
}

.colours {
  border: solid;
  height: 200px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  position: relative;
}

.colours h2 {
  font-family: "Courier New", Courier, monospace;
  padding-left: 10px;
}

.box1 {
  width: 100px;
  height: 100px;
  border: solid;
  background-color: #d79922;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
}

.box2 {
  width: 100px;
  height: 100px;
  border: solid;

  background-color: #f13c20;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 100px;
}

.box3 {
  width: 100px;
  height: 100px;
  border: solid black;

  background-color: #4056a1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  color: white;
  left: 200px;
}

.box4 {
  width: 100px;
  height: 100px;
  border: solid;

  background-color: #c5cbe3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 300px;
}

.fonts {
  border: solid;
  height: 200px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.fonts h2 {
  font-family: "Courier New", Courier, monospace;
  padding-left: 10px;
}

#courier-new {
  font-family: "Courier New", Courier, monospace;
  padding-left: 10px;
}

#courier {
  font-family: courier;
  padding-left: 10px;
}

#monospace {
  font-family: monospace;
  padding-left: 10px;
}

h1 {
  font-weight: 700;
  font-size: 26px;
}

h2 {
  font-weight: 500;
  font-size: 18px;
}

li {
  font-size: 400;
  font-size: 14px;
}

.text-styles {
  border: solid;
  height: 300px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  position: relative;
}
